{% extends 'base.html' %}
{% block content %}
<br/>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="ticket_title">
        <h2>Créer un ticket</h2>
    </div>
    <div class="create_ticket">
        {{ form_ticket.as_p }}
    </div>

    <div class="review_title">
        <h2>Créer une critique</h2>
    </div>
    <div class="create_review">
        {{ form_review.as_p }}

        <div class="action-button">
            <button class="btn" type="submit" >Envoyer</button>
        </div>
    </div>
</form>
    
{% endblock content %}