{% extends 'base.html' %}
{% load static %}

{% block content %}

<!--{% if form.errors %}-->
<!--    {% for field in form %}-->
<!--        {% for error in field.errors %}-->
<!--            <div class="alert alert-danger">-->
<!--                <strong>{{ error|escape }}</strong>-->
<!--            </div>-->
<!--        {% endfor %}-->
<!--    {% endfor %}-->
<!--    {% for error in form.non_field_errors %}-->
<!--        <div class="alert alert-danger">-->
<!--            <strong>{{ error|escape }}</strong>-->
<!--        </div>-->
<!--    {% endfor %}-->
<!--{% endif %}-->

<br/>
<div class="title_add_followed_user">
    <h2>Suivre d'autres utilisateurs</h2>
</div>
<div class="add_followed_user">
    <form method="post">
        {% csrf_token %}
        {{ form.followed_user }}
        <button type="submit"  id="followed_user" class="btn" value="subscribe">Envoyer</button>
    </form>
</div>

<br/>

<div class="title_list_followed_user">
    <h2>Abonnements</h2>
</div>
<div class="list_followed_user">
    {% for user_follows in form_following %}
    <div class="followed_user">
        <p class="subscriber">{{user_follows.followed_user}}</p>
        <form method="POST" action="{% url 'unfollow_user' user_follows_id=user_follows.id  %}">
            {% csrf_token %}
            <button type="submit" class="btn" value="subscribe">se désabonner</button>
        </form>
    </div>
    {% endfor %}

</div>

<div class="title_list_following_user">
    <h2>Abonnés</h2>
</div>
<div class="list_following_user">
    <div class="following-list">
        {% for users in form_follower %}
            <p class="subscriber">
                {{users.user}}
            </p>
        {% endfor %}
    </div>
</div>

{% endblock content %}