{% block content %}
{% load static %}
{% load review_extras %}

<div class="review_post">
    <div class="review_header">
        <p class="p_margin">{% if post.user == request.user %} Vous avez
            {% else%} {{post.user}} a
            {% endif %} publié une critique {{post.title}}</p>
        <p >le {{post.time_created}}</p>
    </div>

    <div class="rating">
        <h3> {{post.headline}} - </h3>
        {% for rating_value in stars %}
            {% if rating_value <= post.rating %}
                <img alt="" class="star" src="{% static '/img/icons8-star-filled-50.png' %}"/>
            {% else %}
                <img alt="" class="star" src="{% static '/img/icons8-star-empty-50.png' %}"/>
            {% endif %}
        {% endfor %}
    </div>

    <h3 class="review_body">  {{post.body}}  </h3>

    <div class="ticket_review_post">
        <div class="review_header">
            <p>Ticket - {% if post.ticket.user == request.user %}Vous
                {% else%}{{post.ticket.user}}
                {% endif %}</p>
            <p >le {{post.ticket.time_created}}</p>
        </div>
        <p>{{post.ticket.title}}</p>
        <p>{{post.ticket.description}}</p>
        {% if post.ticket.image %}
            <div class="image">
                <img  src="{{post.ticket.image.url}}" alt="" />
            </div>
        {% endif %}
    </div>
    {% if post.user == request.user and origin == 'posts' %}
        <div class="action_button">
            <form method="GET" action="{% url 'update_review' ticket_id=post.ticket.id review_id=post.id %}">
                <button class="btn" type="submit">Modifier</button>
            </form>
            <form method="POST" action="{% url 'delete_review' ticket_id=post.ticket.id review_id=post.id %}">
                {% csrf_token %}
                <button class="btn" type="submit">Supprimer</button>
            </form>
        </div>
    {% endif %}
</div>


{% if post.ticket.user == request.user and origin == 'posts' %}
<div class="ticket_review_post">
    <div class="review_header">
    <p>Vous avez publié un ticket</p>
        <p >le {{post.ticket.time_created}}</p>
    </div>
    <p>{{post.ticket.title}}</p>
    <p>{{post.ticket.description}}</p>
    {% if post.ticket.image %}
        <div class="image">
            <img  src="{{post.ticket.image.url}}" alt=""/>
        </div>
    {% endif %}
    <div class="action_button">
        <form method="GET" action="{% url 'update_ticket' ticket_id=post.ticket.id %}">
            <button class="btn" type="submit">Modifier</button>
        </form>
        <form method="POST" action="{% url 'delete_ticket' ticket_id=post.ticket.id %}">
            {% csrf_token %}
            <button class="btn" type="submit">Supprimer</button>
        </form>
    </div>
</div>
{% endif %}

{% endblock content %}
