{% block content %}
{% load static %}
{% load review_extras %}

<div class="review_post">
    <div class="review_header">
        <p>{% if post.user == request.user %} Vous avez {% else%} {{post.user}} a {% endif %} demandé une critique: {{post.title}}</p>
        <p >le {{post.time_created}}</p>
    </div>

    <div class="rating">
        <h3 {{post.headline}} - </h3>
        {% for value in 5|range_star %}
            {% if value <= post.rating %}
                <img class="star" src="{% static '/img/icons8-star-filled-50.png' %}"/>
            {% else %}
                <img class="star" src="{% static '/img/icons8-star-empty-50.png' %}"/>
            {% endif %}
        {% endfor %}
    </div>

    <h3 class="review_body">  {{post.body}}  </h3>

    <div class="ticket_review_post">
        <p>Ticket - {{request.user}}</p>
        <p>{{post.ticket.description}}<p>
        {% if post.ticket.image %}
        <div class="image">
            <img  src="{{post.ticket.image.url}} " />
        </div>
        {% endif %}
    </div>
</div>



{% endblock content %}
