{% block content %}


<div class="ticket_post">
    <div class="post_header">
        <p>{% if post.user == request.user %}
            Vous avez {% else%}
            {{post.user}} a
            {% endif %}
            demandé une critique : {{post.title}}</p>
        <p >le {{post.time_created}}</p>
    </div>

    {{post.description}}

    {% if post.image %}
        <div class="div_image">
            <img class="image" src="{{post.image.url}} " />
        </div>
    {% endif %}

    {% if request.get_full_path == "/stream/" %}
    <div class="action_button">
        <form method="GET" action="{% url 'create_review' post.id %}">
            {% csrf_token %}
            <button class="btn" type="submit">Créer une critique</button>
        </form>
    </div>
    {% endif %}
 </div>
{% endblock content %}