<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        {% load static %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'app.css' %}">
        <title>LITreview</title>
    </head>
    <body>
        <div class="top_bar">
            {% if user.is_authenticated %}
                <p><strong>Bienvenue {{ request.user }} !</strong></p>
                <p class="title"><strong>LitReview</strong></p>
                <p class="menu"><a href="{% url 'stream' %}">Flux</a></p>
                <p class="menu"><a href="{% url 'my_posts' %}">Posts</a></p>
                <p class="menu"><a href="{% url 'follow_users' %}">Abonnements</a></p>
                <p class="menu"><a href="{% url 'logout' %}">Disconnect</a></p>
            {% else %}
                <p class="title_centered"><strong>LitReview</strong></p>
            {% endif %}
        </div>


        {% block content %}{% endblock content %}

    </body>
</html>